.answer{
    text-decoration: none;
    background-color: #4A4957;
    border: 9px solid #58CC02;
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
    margin-left: 0px;
    margin-right: 50px;
    font-weight: bold;
}

.text{
    font-size: 50px;
    margin-top: 30px;
    margin-left: 90px;
    margin-right: 90px;
    color: #58CC02;
    font-weight: 900;
    font-family: sans-serif;
}

.logo{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}

header{
    display: flex;
    justify-content: space-evenly;
    padding: 1px;
    border-radius: 20px;
    background-color: #4A4957;
}

.container{
    width: 900px;
    height: 250px;
    background-color: #4A4957;
}

.Domct{
    padding-top: 0px;
    display: flex;
    align-items: center;
}

.Duo{
    font-size: 30px;
    margin-top: 5px;
    margin-left: 40px;
    font-weight: bold;
    color: #89E219;
}

.fonc{
    justify-content: space-between;
    font-weight: bold;
    color: whiTe;
    text-align: center;
    background-color: #71707E;
    border: #89E219 20px solid;
    padding: 0px;
    font-size: 25px;
    border-radius: 25px;
    margin-top: 25px;
    margin-left: 250px;
    margin-right: 250px;
}

.ranword{
    color: #A6E69B;
    font-size: 40px;
    text-align: center;
}

.otvetu{
    margin-top: 50px;
    margin-left: 350px;
}
