.answer{
    text-decoration: none;
    background-color: #4A4957;
    border: 9px solid #58CC02;
    color: white;
    padding: 10px 15px;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
}



.container{
    width: 900px;
    height: 250px;
    background-color: #4A4957;
}

header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    border-radius: 20px;
    background-color: #4A4957;
}

.Domct{
    display: flex;
    align-items: center;
    
}

.Duo{
    font-weight: bold;
    color: #89E219;
}

.text{
    
       
    -webkit-text-stroke: 3px rgb(64, 85, 224);
    font-size: 60px;
    margin-left: 90px;
    margin-right: 90px;
    color: #58CC02;
    font-weight: 900;
    font-family: sans-serif;
}

.fonc{
    font-weight: bold;
    color: whiTe;
    text-align: center;
    background-color: #71707E;
    border: #89E219 20px solid;
    padding: 15px;
    border-radius: 25px;
    margin-top: 40px;
    margin-left: 150px;
    margin-right: 150px;
}

.ranword{
    color: #A6E69B;
}